DirectoryIndex /web/index.php
RewriteEngine On
RewriteCond %{REQUEST_FILE} !-f
RewriteCond %{REQUEST_FILE} !-l
RewriteCond %{REQUEST_URI} !^/web [NC]
RewriteRule ^(.+)$ /web/$1 [L]

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]


#Options +FollowSymLinks
#IndexIgnore */*
#RewriteEngine on

#RewriteCond %{REQUEST_URI} !^/(web)
#RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
#RewriteRule ^css/(.*)$ web/css/$1 [L]
#RewriteRule ^js/(.*)$ web/js/$1 [L]
#RewriteRule ^images/(.*)$ web/images/$1 [L]
#RewriteRule (.*) /web/$1

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /web/index.php