
.admin-block {
    padding: 20px 0;
}
.item {
    margin-bottom: 20px;
    text-align: center;
    height: 200px;
}
.block-item-img {
    border: 1px solid #ccc;
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
}
#sortable_photoes li {
    display: inline-block;
    text-align: center;
}



.item-img {
    position: relative;
}
.item-img img {
    width: 100%;
    border: 1px solid #ccc;
}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 20;
}
.back ul {
    padding: 20px;
}
.back ul li a {
    color: #fff;
}
.back ul li a:hover {
    color: #000;
}
.avatar {
    text-align: center;
    margin: 10px 0;
}
.avatar img {
    width: 100px;
}
.img-preview {
    width: 200px;
}
.balance {
    font-weight: bold;
}
.balance span {
    color: #f00;
}
.user-dropdown {
    display: none;
}
.user-items li {
    display: inline-block;
    list-style: none;
}
.back ul li {
    list-style: none;
}
.error {
    color: #dd4b39;
    height: 20px;
}
.error.success {
    color: #008d4c;
}